*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kanit', sans-serif;
  background-color: #f1f1f1;
}

.logo {
  height: 100px;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.logo-png {
  width: 50px;
  vertical-align: middle;

}
h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 40px;

}

.container {
  width: 70%;
  background-color: white;
  margin:auto;
}

.pulsanti{
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
  border-bottom: 2px solid #f1f1f1;

}

.button{
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  }
.task{
  background-color: #8ec6ff;
  color: white;

}

.section {
  background-color: white;
  border: 1px solid lightgrey;
  color: lightgrey;
}

.contenuto {

  padding: 40px;
}
ul{
  list-style: none;
  color: #403e3e;
}

li h3::before{
  content: "\25BC     ";
  font-size: 15px;

}

li h3{
  font-size: 25px;
  margin-top: 15px;

}
li{
  font-size: 20px;
  margin: 17px;
}
.circle{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 100%;
    padding: 3px;
    text-align: center;
    font-size: 13px;



}

.check{
  border: 1px solid #88cca0;
}

.cross {
  border: 1px solid #e24040;
}

.check::before{
  content: "\2713";

  color: #88cca0;
}

.cross::before{
  content: "X";

  color: #e24040;
}

.cerchio {
  color: white;
  font-size: 13px;
  border-radius: 25px;
  padding: 7px;
}

.blu{
  background-color: #8ec6ff;
}

.viola {
  background-color: #a36cd6;
}
.verde{
  background-color: #53a97d;
}
.arancione{
  background-color: #ec814d;
}
.fuxia{
  background-color: #b7538a;
}
.verdino {
  background-color: #b5c769;
}
